<a href="https://colab.research.google.com/github/LavanyaMuthuraman/2211574_LAVANYA_M_CDB22DW022_PYTHON_ASSIGNMENTS/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA STRUCTURES**

## **LIST**

*   **List are used to store multiple items in a single variable.**
*   **List items are ordered, indexed,changeable, and allow duplicate values.**

In [ ]:
mylist = ["red", "blue", "green",76,89,0,56]
print(mylist)

['red', 'blue', 'green', 76, 89, 0, 56]

**DIR : The dir() function returns all properties and methods of the specified object, without the values. dir(object)**

In [ ]:
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

sort(): Sorts the list

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
numlist.sort()
print(numlist)

[-7, 1, 3, 3, 7, 9, 98, 98]

reverse(): Reverses the order of the list

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
numlist.reverse()
print(numlist)

[1, 7, 3, 9, -7, 3, 98, 98]

remove():	Removes the item with the specified value

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
numlist.remove(1)
print(numlist)

[7, 3, 9, -7, 3, 98, 98]

pop():	Removes the element at the specified position

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
numlist.pop(1)
print(numlist)

[1, 3, 9, -7, 3, 98, 98]

insert():	Adds an element at the specified position
list.insert(position, element)

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
numlist.insert(5,100)
print(numlist)

[1, 7, 3, 9, -7, 100, 3, 98, 98]

index():	Returns the index of the first element with the specified value

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
x=numlist.index(1)
print(x)

0

extend():Add the elements of a list (or any iterable), to the end of the current list.
list.extend(iterable)

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
val=(28,"king","queen","minister")
numlist.extend(val)
print(numlist)

[1, 7, 3, 9, -7, 3, 98, 98, 28, 'king', 'queen', 'minister']

count():	Returns the number of elements with the specified value

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
x=numlist.count(98)
print(x)

2

copy():	Returns a copy of the list

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
cp=numlist.copy()
print(cp)

[1, 7, 3, 9, -7, 3, 98, 98]

clear():	Removes all the elements from the list

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
numlist.clear()
print(numlist)

[]

append():	Adds an element at the end of the list

In [ ]:
numlist=[1,7,3,9,-7,3,98,98]
numlist.append(1000)
print(numlist)

[1, 7, 3, 9, -7, 3, 98, 98, 1000]

## **TUPLES**


*   **Tuples are used to store multiple items in a single variable.**
*   **A tuple is a collection which is ordered and unchangeable.**

In [ ]:
mytuple = ("lav", 22, True, "apple", "female")
print(mytuple)

('lav', 22, True, 'apple', 'female')

In [ ]:
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

count():	Returns the number of times a specified value occurs in a tuple

In [ ]:
numtuple = (56, 83, 97,98, 97, 95, 94,96,98,5)
x = numtuple.count(98)
print(x)

2

index():	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
numtuple = (56, 83, 97,98, 97, 95, 94,96,98,5)
x = numtuple.index(56)
print(x)

0

## **SET**

*   **Sets are used to store multiple items in a single variable.**
*   **A set is a collection which is unordered, unchangeable, and unindexed**.
*   **Sets cannot have two items with the same value.**

In [ ]:
myset = {"lav", 22,22, True,"india","apple", "female"}
print(myset)

{True, 'female', 'lav', 'india', 22, 'apple'}

In [ ]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

add():	Adds an element to the set

In [ ]:
myset = {"lav", 22,22, True,"india","apple", "female"}
myset.add("anya")
print(myset)

{True, 'anya', 'female', 'lav', 'india', 22, 'apple'}

clear():	Removes all the elements from the set

In [ ]:
myset = {"lav", 22,22, True,"india","apple", "female"}
myset.clear()
print(myset)

set()

copy():	Returns a copy of the set

In [ ]:
myset = {"lav", 22,22, True,"india","apple", "female"}
cp=myset.copy()
print(cp)

{True, 'lav', 'india', 22, 'apple', 'female'}

difference():	Returns a set containing the difference between two or more sets

In [ ]:
a = {"chennai", "mumbai", "delhi"}
b = {"pune", "noida", "chennai"}

c = a.difference(b) 
d = b.difference(a)
print(c)
print(d)

{'mumbai', 'delhi'}
{'pune', 'noida'}

difference_update():	Removes the items in this set that are also included in another, specified set

In [ ]:
a = {"chennai", "mumbai", "delhi"}
b = {"pune", "noida", "chennai"}

a.difference_update(b) 
print(a)

{'mumbai', 'delhi'}

discard():	Remove the specified item

In [ ]:
myset = {"chennai", "mumbai", "delhi"}
myset.discard ("delhi")
print(myset)

{'mumbai', 'chennai'}

intersection():	Returns a set, that is the intersection of two other sets

In [ ]:
a = {"chennai", "mumbai", "delhi"}
b = {"pune", "noida", "chennai"}

c = a.intersection(b) 
print(c)

{'chennai'}

intersection_update():	Removes the items in this set that are not present in other, specified set(s)

In [ ]:
a = {"chennai", "mumbai", "delhi"}
b = {"pune", "noida", "chennai"}

a.intersection_update(b) 
print(a)

{'chennai'}

isdisjoint():	Returns whether two sets have a intersection or not

In [ ]:
a = {"chennai", "mumbai", "delhi"}
b = {"pune", "noida", "bangalore"}
c=a.isdisjoint(b) 
print(c)

True

issubset():	Returns whether another set contains this set or not

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y) 
print(z)

True

issuperset():	Returns whether this set contains another set or not

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

pop(): removes a random item from the set.

In [ ]:
a = {"chennai", "mumbai", "delhi"}
a.pop()
print(a)

{'chennai', 'delhi'}

remove():	Removes the specified element

In [ ]:
a = {"chennai", "mumbai", "delhi"}
a.remove("delhi")
print(a)

{'mumbai', 'chennai'}

symmetric_difference():	Returns a set with the symmetric differences of two sets

In [ ]:
a = {"chennai", "mumbai", "delhi"}
b = {"pune", "noida", "chennai"}
c=a.symmetric_difference(b) 
print(c)

{'mumbai', 'pune', 'delhi', 'noida'}

symmetric_difference_update():	inserts the symmetric differences from this set and another

In [ ]:
a = {"chennai", "mumbai", "delhi"}
b = {"pune", "noida", "chennai"}
a.symmetric_difference_update(b) 
b.symmetric_difference_update(a) 
print(a)
print(b)

{'mumbai', 'noida', 'pune', 'delhi'}
{'mumbai', 'chennai', 'delhi'}

union():	Return a set containing the union of sets

In [ ]:
a = {"chennai", "mumbai", "delhi","chennai" }
b = {"pune", "noida", "chennai"}
a.union(b)

{'chennai', 'delhi', 'mumbai', 'noida', 'pune'}

update():	Update the set with the union of this set and others

In [ ]:
a = {"chennai", "mumbai", "delhi","chennai" }
b = {"pune", "noida", "chennai"}
a.update(b)
print(a)

{'mumbai', 'pune', 'delhi', 'noida', 'chennai'}

## **DICTIONARY**

*   **Dictionary items are ordered, changeable, and does not allow duplicates.**
*   **Dictionary items are presented in key:value pairs, and can be referred to by using the key name.**

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
print(mydict["key1"])

blue

In [ ]:
dir(mydict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

clear():	Removes all the elements from the dictionary

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
mydict.clear()
print(mydict)

{}

copy():	Returns a copy of the dictionary

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
mydict.copy()
print(mydict)

{'key1': 'blue', 'key2': 'sky', 'key3': 100}

fromkeys():	Returns a dictionary with the specified keys and value

In [ ]:
x = ('key1', 'key2', 'key3')
y = (3,4,5)
mydict = dict.fromkeys(x, y)
print(mydict)

{'key1': (3, 4, 5), 'key2': (3, 4, 5), 'key3': (3, 4, 5)}

get():	Returns the value of the specified key

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
x=mydict.get("key2")
print(x)

sky

items():	Returns a list containing a tuple for each key value pair

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
x=mydict.items()
print(x)

dict_items([('key1', 'blue'), ('key2', 'sky'), ('key3', 100)])

keys():	Returns a list containing the dictionary's keys

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
x=mydict.keys()
print(x)

dict_keys(['key1', 'key2', 'key3'])

pop():	Removes the element with the specified key

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
x=mydict.pop("key3")
print(x)

100

popitem():	Removes the last inserted key-value pair

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
mydict.popitem()
print(mydict)

{'key1': 'blue', 'key2': 'sky'}

setdefault():	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
x=mydict.setdefault("key2","moon")
print(x)

sky

update():	Updates the dictionary with the specified key-value pairs

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
mydict.update({"key4":"moon"})
print(mydict)

{'key1': 'blue', 'key2': 'sky', 'key3': 100, 'key4': 'moon'}

values():	Returns a list of all the values in the dictionary

In [ ]:
mydict = {
  "key1": "blue",
  "key2": "sky",
  "key3": 100
}
x=mydict.values()
print(x)

dict_values(['blue', 'sky', 100])